<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/nav") %>
            <div class="wrapper">
                <main class="flex-grow-1">
                    <div class="container text-center">
                        <div class="card text-center" id="banner">
                            <h2 class="py-4 mt-3">get in touch</h2>
                        </div>
                        <div class="col-md-10 text-center">
                            <div id="user_container">
                                <form form action="/send_message" method="POST">
                                    <div class="card-header"> Contact Us </div>
                                    <div class="form-group">
                                        <label for="name">Name: </label>
                                        <input class="form-control" type="text" id="message_name" name="message_name"
                                            required placeholder="Name">
                                    </div>
                                    <% if (user) { %>
                                        <div class="form-group">
                                            <label for="email">Email: </label>
                                            <input class="form-control" value="<%= user.email%>" type="email"
                                                id="message_email" name="message_email">
                                        </div>
                                        <% } else { %>
                                            <div class="form-group">
                                                <label for="email">Email: </label>
                                                <input class="form-control" type="email" id="message_email"
                                                    name="message_email" required placeholder="email@email.com">
                                            </div>
                                            <% } %>
                                                <div class="form-group">
                                                    <label for="message_text">Enter Message:</label>
                                                    <textarea class="form-control" name="message_text" id="message_text"
                                                        rows="3"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-check" for="exampleFormControlSelect1"
                                                        style="padding: 1rem;">Select
                                                        Topic</label>
                                                    <select class="form-control" id="message_type" name="message_type">
                                                        <option>Account Issue</option>
                                                        <option>Query</option>
                                                        <option>Audio Issue</option>
                                                        <option>Concern</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                                <button class="btn-primary" type="submit" style="margin: 2rem;">Send
                                                    Message</button>
                                                <p class="text-danger">
                                                    <%= formData.msg %>
                                                </p>

                                </form>
                            </div>
                        </div>
                    </div>
                </main>

                <%- include("partials/footer") %>
            </div>
    </body>

</html>