<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/nav") %>
        <div class="wrapper">

            <div class="container text-center my-5" style="max-width: 600px;">
                <h1 class="display-4">ChordExplorer</h1>
                <h4 class="text-muted">Admin Page - Log Viewer</h4>
            </div>
            <div id="message_div">
                <% if (formMessage && formMessage.length> 0) { %>
                    <div class="mt-3">
                        <% formMessage.forEach(message=> { %>
                            <p class="text-danger">
                                <%= message %>
                            </p>
                            <% }) %>
                    </div>
                    <% } %>
            </div>
            <div class="container my-5" style="padding: 20px;">
                <h1 class="mb-4">Log Dashboard</h1>
                <!-- Form to select a filter of logs -->

                <form action="/api/users/admin/logs/filter?page=1&limit=25" method="POST" id="filter_form">
                    <div class="row g-3 align-items-end p-4">
                        <div class="col-md-3">
                            <label for="event_type" class="form-label">Event_type</label>
                            <select name="selected_event" id="event_type" class="form-select">
                                <option value="all">All</option>
                                <option value="login_success">login_success</option>
                                <option value="login_success">delete_success</option>
                                <option value="login_failure">login_failure</option>
                                <option value="logout">logout</option>
                                <option value="register_success">register_success</option>
                                <option value="register_failure">register_failure</option>
                                <option value="validation_failure">validation_failure</option>
                                <option value="admin_action">admin_action</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="user_id" class="form-label">User ID</label>
                            <input type="text" class="form-control" name="selected_id" id="user_id" placeholder="User ID">
                        </div>
                        <div class="col-md-3 col-sm-12 txt-end mt-3">
                            <button type="submit" class="btn btn-primary">Filter Logs</button>
                        </div>
                    </div>
                </form>
                <% if (results.filteredLogs && results.filteredLogs.length > 0) { %>
                    <form action="/api/users/admin/logs/bulk_view" method="GET" id="log_form">
                        <table id="log_table" class="table table-striped table-bordered text-center">
                            <tr>
                                <th>Event ID</th>
                                <th>User ID</th>
                                <th>Event</th>
                                <th>Message</th>
                                <th>End point</th>
                                <th>Created At</th>
                            </tr>
                            <% results.filteredLogs.forEach(log=> { %>
                                <tr>
                                    <td>
                                        <%= log.log_id %>
                                    </td>
                                    <td>
                                        <%= log.user_id || 'NULL' %>
                                    </td>
                                    <td>
                                        <%= log.event_type %>
                                    </td>
                                    <td>
                                        <%= log.event_message %>
                                    </td>
                                    <td>
                                        <%= log.endpoint %>
                                    </td>
                                    <td>
                                        <%= log.created_at %>
                                    </td>
                                </tr>
                                <% }) %>
                        </table>
                    </form>
                    <% } else { %>
                        <p class="text-muted p-4">No logs found.</p>
                        <% } %>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <% if (results.previous)  { %>
                        <li class="page-item"><a class="page-link" href="/api/users/admin/logs?page=<%=results.previous.page%>&limit=25&event=<%=results.event%>"><%=results.previous.page%></a></li>
                    <% } %>
                        <li class="page-item"><a class="page-link" href="/api/users/admin/logs?page=<%=results.currentPage%>&limit=25&event=<%=results.event.event%>"><%=results.currentPage%></a></li>
                    <% if (results.next)  { %>
                        <li class="page-item"><a class="page-link" href="/api/users/admin/logs?page=<%=results.next.page%>&limit=25&event=<%=results.event.event%>"><%=results.next.page%></a></li>
                    <% } %>
                </ul>
            </nav>
    </div>
            <%- include("partials/footer") %>
    </body>

</html>