<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/nav") %>
            <%- include("partials/header") %>
                <div class="container align-items-center text-center justify-content-center" style="width: 40%;">
                    <!-- Title -->
                    <h1 class="display-4">ChordExplorer</h1>
                    <% if (user) { %>
                        <h3> welcome, <%= user.first_name %>
                        </h3>
                        <% } else { %>
                            <h3>welcome, guest user!</h3>
                            <% } %>
                                <h4 class="text-muted">Start recording some audio!</h4>
                                <h2></h2>
                </div>

                <div class="container py-4">
                    <!-- Audio Function -->
                    <form action="">
                        <div class="border p-4 mb-4">
                            <div class="mb-3">
                                <div class="border p-3">
                                    <!--for playing the audio-->
                                    <audio id="audio_play" controls></audio>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap gap-2" id="audio_controls">
                                <button class="btn btn-primary" id="record_btn">Record</button>
                                <button class="btn btn-warning" id="stop_btn">Stop</button>
                                <button class="btn btn-danger" id="delete_btn">Delete</button>
                                <button class="btn btn-danger" id="play_btn">Play</button>
                                <button class="btn btn-danger" id="predict_btn">Predict</button>
                            </div>
                        </div>
                        <input type="file" name="audio" id="audio_blob_input" hidden>
                    </form>

                    <!-- Result Section -->
                    <div class="border p-4">
                        <p class="text-center text-muted" id="result_section">Audio result section</p>
                    </div>
                </div>
                <%- include("partials/footer") %>
    </body>

</html>