<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

<body>
    <div class="wrapper">
      <%- include("partials/nav") %>

        <div class="row justify-content-center py-4">
          <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm rounded">
              <img
                src="https://plus.unsplash.com/premium_vector-1731922571927-ac1d331d87e3?q=80&w=2360&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="card-img-top rounded-top" alt="Profile piture" style=" height: 10rem;">

              <div class="card-body">
                <form id="update_form">
                  <input type="hidden" name="user_id" id="user_id" value="<%= user.user_id %>">
                  <div class="mb-3">
                    <label for="user_dob" class="form-label"><strong>Date of Birth</strong></label>
                    <input type="date" id="user_dob" name="user_dob" class="form-control" value="<%= user.user_dob %>">
                    <small class="text-muted">Current age: <%= user.user_age %></small>
                  </div>

                  <div class="mb-3">
                    <label for="user_country" class="form-label"><strong>Country</strong></label>
                    <input type="text" id="user_country" name="user_country" class="form-control" value="<%= user.user_country %>">
                  </div>

                  <div class="mb-3">
                    <label for="user_city" class="form-label"><strong>City</strong></label>
                    <input type="text" id="user_city" name="user_city" class="form-control"
                      value="<%= user.user_city %>">
                  </div>

                  <div class="mb-3">
                    <label for="user_bio" class="form-label"><strong>Bio</strong></label>
                    <textarea id="user_bio" name="user_bio" class="form-control"
                      rows="3" value="<%= user.user_bio %>"></textarea>
                  </div>

                  <button type="submit" id="update_btn" class="btn btn-primary w-100">Update Profile</button>

                  <div class="alert alert-danger" id="updateErrorDiv" style="display: none;">

                </form>
              </div>
            </div>
          </div>
        </div>

        <%- include("partials/footer") %>
    </div>
</body>

</html>